@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rock';
  src: url('../../resources/fonts/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'Solitreo';
  src: url('../../resources/fonts/Solitreo-Regular.ttf');
}

@font-face {
  font-family: 'Staatliches';
  src: url('../../resources/fonts/Staatliches-Regular.ttf');
}

@theme {
  --color-dark-primary: theme(colors.dark-primary);
  --color-dark-secondary: theme(colors.dark-secondary);
  --color-dark-accent: theme(colors.dark-accent);
  --color-dark-text: theme(colors.dark-text);
}

@keyframes fade-up-sm {
  0% {
    opacity: 0;
    position: relative;
    top: 3px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes fade-up-md {
  0% {
    opacity: 0;
    position: relative;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes float {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}
.appear-enter {
  opacity: 0;
}
.appear-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.appear-enter-done {
  opacity: 1;
}
.appear-exit {
  opacity: 1;
}
.appear-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}
html {
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
